body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light grey background */
    border-left: 25px solid #fff; /* White border on left */
    border-right: 25px solid #fff; /* White border on right */
    border-top: 5px solid #fff; /* White border on top */
}


.top-part {
    height:46vh;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide into two columns */
    padding-bottom: 5px;
    border-bottom: 4px solid #6e677536;
    
}

.profile-picture {
    background-color: black;
    width: 100%; /* Profile picture takes up full width */
    height: 100%; /* Set a height for the profile picture */
}

.links-menu {
    grid-column: 2 / 4; /* Links menu occupies columns 2 and 3 */
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack items vertically */
}

.media-links,
.menu {
    margin-bottom: 20px; /* Add margin between the two sections */
}


.media-links {
    background-color: green;
    height: 100%; /* Ensure the container takes up full height */
}

.media-links ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    display: flex; /* Use Flexbox for layout */
    justify-content: space-around; /* Distribute items with equal space around */
    margin-top: 15%;
}

.media-links li {
    margin: 10px 0;
    font-size: 36px;
}


.menu {
    color:black;
}

.menu ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    display: flex; /* Use Flexbox for layout */
}

.menu li {
    flex: 1; /* Each list item takes up equal space */
    text-align: center; /* Center text horizontally */
}

.menu li a {
    display: block; /* Make the anchor tags fill the list item */
    padding: 10px; /* Add padding for better clickability */
    text-decoration: none; /* Remove underline */
}

.menu li.1 { background-color: #FF5733; } /* Set different background color for each list item */
.menu li.2 { background-color: #33FF57; }
.menu li.3 { background-color: #5733FF; }

.menu li:hover {
    filter: brightness(0.8); /* Darken the background color on hover */
}


.middle-part {
    text-align: center; /* Center-align the content */
}


.last-part {
    width: calc(100% - 10px); /* Adjust width to account for body's margin */
    margin: 0 auto; /* Center the element horizontally */
}

.slide-container {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 20px;
    height: 30vh;
}
